@font-face {
  font-family: "stopwatchX";
  src: url("./fonts/Stopwatch.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin-top: 1%;
  background-color: rgb(255, 0, 85);
  /* overflow: hidden; */
}

button {
  background-color: rgb(255, 0, 85);
  border-color: WHITE;
  color: whitesmoke;
  font: 400 11px system-ui;
  user-select: none;
}

button:hover {
  background-color: rgb(241, 0, 80);
  border-color: white;
  color: white;
}

button:focus {
  background-color: rgb(255, 0, 85);
  border-color: whitesmoke;
  color: whitesmoke;
}

h1 {
  font-family: stopwatchX;
  text-align: center;
  font-size: 25vmin;
  color: rgb(255, 255, 255);
  margin-top: 10%;
  user-select: none;
}

label {
  font: 400 11px system-ui;
  text-transform: uppercase;
  color: dimgray;
}

p {
  font: 400 11px system-ui;
  text-transform: uppercase;
}

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

#sprite {
  display: flex;
  align-content: space-around;
}

.sprite-image {
  width: 100%;
  image-rendering: pixelated;
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid white; */
}

#button-pokeball-icon {
  width: 100%;
  image-rendering: pixelated;
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid white; */
}
