@font-face {
  font-family: 'stopwatchX';
  src: url('./fonts/Stopwatch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin-top: 1%;
  height: 100vh;
  background-color: rgb(255, 0, 85);
  overflow: hidden;
}

h1 {
  margin-top: 5vh;
  font-family: stopwatchX;
  text-align: center;
  font-size: 15vmin;
  color: rgb(255, 255, 255);
  user-select: none;
}

button {
  background-color: white;
  border-color: WHITE;
  color: rgb(255, 0, 85);
  font: 400 11px system-ui;
  user-select: none;
  transition: 0.1s ease-in-out;
}

button:hover {
  /* background-color: rgb(255, 0, 85);
  border-color: white;
  color: white; */
  transform: scale(1.01);
}

button:focus {
  background-color: white;
  border-color: WHITE;
  color: rgb(255, 0, 85);
  font: 400 11px system-ui;
  user-select: none;
  transition: 0.1s ease-in-out;
}

p {
  font: 400 11px system-ui;
  text-transform: uppercase;
}

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

#sprite {
  display: flex;
  width: 300px;
  align-content: space-around;
}

.sprite-image {
  width: 100%;
  image-rendering: pixelated;
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid white; */
}

#button-pokeball-icon {
  width: 100%;
  image-rendering: pixelated;
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid white; */
}
